@media (max-width: 800px) {
body {
    background: #f1f1f1;
}
#monkey-pos {
    position: absolute;
    left: 44%;
    top: 25%;
}
p {
    text-align: center;
    font-family: roboto;
    line-height: 6px;
    color: black;
}
#p1 {
    position: absolute;
    top: 54%;
    left: 37%;
}
#p2 {
    position: absolute;
    top: 58%;
    left: 41%;
} 
#ytlogo {
    width: 120px;
    size: 120px;
    position: absolute;
    top: 65%;
    left: 33%;
}
.wrapper {
    min-width: 100px;
}
#searchbar {
    background-color: white;
    width: 250px;
    height: 30px;
    position: absolute;
    top: 65.1%;
    left: 43%;
    border: 1px solid lightgrey;
    padding: 5px;
    outline: none;
}
#searchbutton {
    background-color: #f8f8f8;
    width: 65px;
    height: 30px;
    position: absolute;
    top: 65.1%;
    left: 61%;
    border: 1px solid lightgrey;
}
#searchlogo {
    position: absolute;
    top: 66.2%;
    left: 62.8%;
    width: 15px;
    height: 15px;
    color: lightgrey;
}
}
